{% extends "base.html" %}

{% block content %}
    {% if blogs|length == 0 %}
        <h1>{{ title }}</h1>
        <p><b>No blogs yet!!!</b></p>
    {% else %}
        {% if not request.args.get('id') %}
            <h1>{{ title }}</h1>
            {% for blog in blogs %}
                <h2><a href="/blog?id={{ blog.id }}">{{ blog.title }}</a></h2>
                <p>{{ blog.body }}</p>
                <hr />
            {% endfor %}
        {% else %}
            {% for blog in blogs %}
                <h1>{{ blog.title }}</h1>
                <p>{{ blog.body }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}